.container {
  width: 100%;

  .yearSelect {
    width: 100%;
  }
}


.card {
  display: flex;
  flex-direction: column;

  padding: 1rem;
  background-color: var(--secondary-background);

  border-radius: 10px;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  .cardHeader {
    display: flex;
    justify-content: space-between;

    font-size: 1.5rem;

    .finalMark {
      padding: 0.5rem 1rem;
      background-color: var(--accent);

      font-weight: bolder;
      border-radius: 5px;
    }

    .subject {
      font-size: 1.5rem;
      line-height: normal;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        overflow: visible;
      }
    }
  }

  .marks {
    display: flex;
    flex-direction: row;

    width: 100%;

    align-items: center;
    text-align: center;

    justify-content: space-between;

    .divider {
      height: 50px;
    }
  }

  .divider {
    margin: 1rem 0 0;
  }

  .mark {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    max-width: 25%;

    align-items: center;
    text-align: center;

    padding: 0.75rem;
    height: 100%;

    .period {
      line-height: 1;
      color: var(--secondary-foreground);
    }

    .value {
      line-height: 1.5;
      font-weight: bolder;

      font-size: 1.75rem;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media (max-width: 650px) {
  .card {
    .cardHeader {
      font-size: 1.25rem;

      .subject {
        font-size: 1.25rem;
      }
    }

    .marks {
      .mark {
        .period {
          font-size: 1rem;
          line-height: 1.5;
        }

        .value {
          font-size: 1.5rem;
        }
      }
    }
  }
}

.main {
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.error {
  margin: 0 auto;
  text-align: center;

  padding-top: 2rem;
  padding-bottom: 2rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 330px;

  .image {
    margin: 0 auto;
  }

  .head {
    line-height: 1;

    margin-top: 1rem;
  }

  .desc {
    color: var(--secondary-foreground);
    line-height: 1;
    margin-top: 0.5rem;
  }
}