.login {
  margin: 0 auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .form {
    margin: 0 auto;

    width: 400px;

    .logo {
      margin-bottom: 1rem;
    }

    .head {
      font-size: 2rem;
      line-height: 1.1;
    }

    .tip {
      font-size: 16px;

      margin-bottom: 1rem;
    }

    .input {
      margin: 0;
      padding-bottom: 0.5rem;
    }

    .submit {
      margin-top: 0.75rem;
      margin-bottom: 0.35rem;
    }

    .privacy {
      font-size: 15px;
      color: var(--accent);
      text-decoration: underline;

      &:hover {
        color: var(--accent-hover);
      }
    }
  }
}

@media (max-width: 850px) {
  .login {
    width: 100%;

    .form {
      width: clamp(315px, 50%, 640px);
    }
  }
}

@media (max-width: 355px) {
  .login {
    width: 100%;

    .form {
      width: 85%;

      .head {
        font-size: 1.5rem;
      }

      .tip {
        font-size: 14px;
      }
    }
  }
}