.nav {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  text-align: center;
  align-items: center;

  .head {
    text-align: center;

    width: 50%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding-right: 1rem;
    padding-left: 1rem;

    margin: 0 auto;

    line-height: normal;
    display: inline-block;
    vertical-align: middle;
  }
}

@media (max-width: 850px) {
  .nav {
    .head {
      width: 60%;
      font-size: 1.25rem;
    }
  }

  .rubric {
    .title {
      font-size: 15px;
      line-height: 1;
    }
  }
}

.main {
  padding-top: 1rem;

  .summary {
    width: 330px;
    height: 400px;

    align-items: center;
    text-align: center;

    margin: 5rem auto 0;

    .desc {
      margin-top: 1rem;
      color: var(--secondary-foreground);
    }
  }
}

@media (max-width: 450px) {
  .main .summary {
    width: 100%;
    font-size: 14px;
  }
}

.rubrics {
  margin-top: 1rem;
}

.rubric {
  padding: 1rem;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  background-color: var(--secondary-background);

  border-radius: 12.5px;

  margin-bottom: 0.35rem;
  margin-top: 0.35rem;

  text-align: center;
  align-items: center;

  .meta {
    display: flex;
    flex-direction: row;

    align-items: center;

    width: 70%;

    .title {
      align-items: center;
      text-align: left;
    }

    .icon {
      margin-left: 0.5rem;
      transition: transform 0.2s;
    }
  }

  .score {
    display: flex;
    flex-direction: row;

    font-size: 18px;

    padding-left: 2rem;

    .mark {
      font-weight: bolder;
    }

    .maxMark {
      color: var(--secondary-foreground);
      transition: 0.2s ease-in-out;
    }
  }

  transition: 0.2s ease-in-out;

  &:hover {
    background-color: var(--secondary-hover);
    color: var(--accent);

    .score .maxMark {
      color: var(--accent);
    }

    .meta .icon {
      transform: translateX(5px);
    }
  }
}

.error {
  margin: 0 auto;
  text-align: center;

  padding-top: 2rem;
  padding-bottom: 2rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 330px;

  .image {
    margin: 0 auto;
  }

  .head {
    line-height: 1;

    margin-top: 1rem;
  }

  .desc {
    color: var(--secondary-foreground);
    line-height: 1;
    margin-top: 0.5rem;
  }
}

@media (max-width: 650px) {
  .error {
    padding-right: 1rem;
    padding-left: 1rem;

    .head {
      font-size: 1.25rem;
    }

    .desc {
      font-size: 14px;
    }

    .image {
      width: 100px;
      height: 100px;
    }
  }
}

[data-theme=dark] {
  .modal .carousel .dots {
    filter: brightness(1500%);
  }
}

.modal {
  .modalTitle {
    width: 95%;
  }

  .carousel {
    height: fit-content;

    .dots {
      bottom: -0.75rem;
    }
  }
}

.rubricInfo {
  .name {
    font-size: 18px;
    line-height: 1.25;
  }

  .rubricDetails {
    margin-top: 1rem;

    padding-right: 0.5rem;
    padding-left: 0.5rem;

    & > :first-child {
      border-top-left-radius: 12.5px;
      border-top-right-radius: 12.5px;
    }

    & > :last-child {
      border-bottom-left-radius: 12.5px;
      border-bottom-right-radius: 12.5px;
    }

    .rubricDetail {
      padding: 0.75rem;
      background-color: var(--secondary-background);

      margin-bottom: 0.25rem;
      margin-top: 0.25rem;
    }
  }
}