@import "nulling";

:root {
  --good-color: rgb(11, 213, 90);
  --average-color: rgb(234, 173, 64);
  --bad-color: rgb(239, 40, 40);
}

#nporgress {
  z-index: 10000 !important;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::selection {
  color: white;
  background: rgba(24, 73, 53, 0.69);
}

::-moz-selection {
  color: white;
  background: rgba(24, 73, 53, 0.69);
}

[data-theme=dark] {
  --foreground: #f1f1f1;
  --background: #171717;

  --secondary-background: #262626;
  --secondary-foreground: #dadada;

  --secondary-border: rgba(218, 218, 218, 0.35);

  --secondary-hover: #282828;

  --accent: #0bd95c;
  --accent-hover: #07692e;

  color: var(--foreground);
  background: var(--background);
}

[data-theme=light] {
  --foreground: #171717;
  --background: #ffffff;

  --secondary-background: #eaeaea;
  --secondary-foreground: #383838;

  --secondary-border: rgba(56, 56, 56, 0.40);

  --secondary-hover: #efefef;

  --accent: #0bd95c;
  --accent-hover: #07692e;

  color: var(--foreground);
  background: var(--background);
}