.error {
  margin: 0 auto;
  text-align: center;

  padding-top: 2rem;
  padding-bottom: 2rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 455px;
  width: 80%;

  .digest {
    margin-top: 1rem;
    color: #e30d0d;
  }

  .image {
    margin: 0 auto;
  }

  .head {
    line-height: 1;

    margin-top: 1rem;
  }

  .desc {
    color: var(--secondary-foreground);
    line-height: 1;
    margin-top: 0.5rem;
  }

  .back {
    margin-top: 1.5rem;
  }
}