.link {
  display: flex;
  flex-direction: column;

  transition: 0.15s ease-in-out;

  margin-right: 0.5rem;
  margin-left: 0.5rem;

  &:hover {
    color: var(--accent);
  }
}

.active {
  color: var(--accent);

  &:hover {
    color: #23ec71;
  }
}

@media (max-width: 450px) {
  .link {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    .icon {
      font-size: 20px;
    }

    .text {
      display: none;
    }
  }
}